@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap');

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: -20px 0 50px; */
	margin: -20;
	
   
}

.App{
	margin: 200px;
}
/* #####################################################
					LOGIN & REGISTER
##################################################### */

.h1_log_reg {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

.p_log_reg{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.span_log_reg{
	font-size: 12px;
}

.a_log_reg {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.a_log_reg:hover{
	color: #FF4B2B;
}

.SignBtn {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


.SignBtn:hover {
	background-color: transparent;
	color: #FF4B2B;
  transition: all 1ms;
  cursor: pointer;
}

.SignBtn:active {
	transform: scale(0.95);
}

.SignBtn:focus {
	outline: none;
}

.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.ghost:hover {
	background-color: #00000010;
  color: #FFFFFF;
  transition: all 1ms;
  cursor: pointer;
}


.margin-top{
  margin-top: 10px;
}

.form_log_reg {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form_log_reg input {
	background-color: #eee;
	border: none;
  border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 1;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: ease 1s; 
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(0);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.errores {
	background-color: rgb(255, 173, 173);
	border: 1px solid  rgb(255, 76, 76);
	border-radius: 5px;
	padding: 7px;
	margin-top: 5px;
	font-size: 13px;
	width: 280px;
}

/* #####################################################
				END LOGIN & REGISTER
##################################################### */

/* #####################################################
					PAGE 404
##################################################### */

.page_404{ 
	padding:40px 0; 
	background:transparent; 
}

.page_404  img{
	width:100%;
}

.page_404  .container_404{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background-color: transparent; 
	position: relative;
	max-width: 100%;
	min-height: 480px;
}
.four_zero_four_bg{
	background-image: url(./assets/Simpsons.gif);
    height: 310px;
	background-size: contain;
	background-repeat: no-repeat;

}
.h1_404{
 	font-size:80px;
	margin:0
}
 
.h3_404{
	font-size:22px;
	margin-block-start: 1em;
    margin-block-end: 0em;
}

.p_404{
	font-size:19px;
	margin-block-start: 0.10000000000000009em;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
	border: 3px solid #11770a;
    margin: 10px 0;
	border-radius: 10px;
    display: inline-block;
	text-decoration: none;
	font-size:18px;
	font-weight:bold;
}
.link_404:hover{			 
    background: #27971f;
	border: 3px solid #11770a;

}
.contant_box_404{
	margin-top: 5px;
}

/* #####################################################
					END PAGE 404
##################################################### */

/* #####################################################
					HEADER
##################################################### */

.cajamaster {
	display: flex;
	width: 1700px;
	height: 450px;
	flex-direction: column;
}

.cajamasterheader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 20%;
}
.logo_header{
	background-image: url(./assets/GeoReact.png);
	height: 90px;
	width: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-right: 10px;
}
.izq_header {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 7px;
}
.izq_header .linksheader{
	text-decoration: none;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 150px;
	height: 100%;
	cursor: pointer;
	color: #2b303b;
	font-size: 20px;
	border-radius: 0px 50px 0px 50px;

}
.izq_header .linksheader:hover{
	background-color: #e4e4e4;
}
.izq_header .linksheader:active, .izq_header .linksheader:focus{
	background-color: rgba(223, 223, 223, 0.377);
}
.izq_header .linksheader svg{
	margin-right: 5px;
}
.der_header {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	margin: 7px;
}
.user__header{
	color: #333;
	font-size:15px;
}
.logout__header{
	display: flex;
	justify-items: center;
	align-items: center;
	background-color: transparent;
	text-decoration: none;
	border: none;
	color: #333;
	font-size:22px;
	cursor: pointer;
}
.logout__header:hover{
	color: #333333a9;
}


/* #####################################################
					END HEADER
##################################################### */

/* #####################################################
				HEADER PLACES & POST
##################################################### */


.menu_header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 20%;
	background-color: rgba(223, 223, 223, 0.377);
}
.izq_menu {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	margin: 7px;
}
.izq_menu .link_menu{
	text-decoration: none;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 130px;
	margin: 5px;
	padding: 15px;
	background-color: #2b303b;
	border: 2px solid #4f5b66;
	cursor: pointer;
	border-radius: 5px;
	color: #93a2ad;
	font-size: 20px;
}
.izq_menu .link_menu:hover{
	background-color: #2b303b8a;
	border: 2px solid #4f5b66c7;
	color: #2b303b;
}
.linksheader.active{
	color: black;
}

.izq_menu .link_menu svg{
	margin-right: 5px;
}
.der_menu {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	margin: 7px;
}
.container_buscador{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}
.container_buscador input#search{
	width: 50px;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: right;
	color: #262626;
	padding-left: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #93a2ad;

	-webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	-ms-transition: width .55s ease;
	-o-transition: width .55s ease;
	transition: width .55s ease;
}

.container_buscador input#search::-webkit-input-placeholder {
	color: #93a2ad;
 }
 .container_buscador input#search:-moz-placeholder {
	color: #93a2ad;
 }
 .container_buscador input#search::-moz-placeholder {
	color: #93a2ad;  
 }
 .container_buscador input#search:-ms-input-placeholder {  
	color: #93a2ad;
 }

 .container_buscador .icon svg{
	position: absolute;
    top: 50%;
	right: 1.5%;
    margin: 9px;
    z-index: 1;
    width: 1.4em;
    height: 2em;
	color: #93a2ad;
}

.container_buscador input#search:focus, .container_buscador input#search:active{
	outline:none;
	width: 300px;
}
.container_buscador:hover input#search{
  width: 300px;
}
.container_buscador:hover .icon svg{
	right: 87%;
	transition: all .55s ease;
}


/* #####################################################
				END HEADER PLACES & POST
##################################################### */


/* #####################################################
				PLACES & POST HOME
##################################################### */

.postsHome {
	width: 100%;
	height: 100%;
	background-color: rgb(14, 14, 255);
}


.placesHome {
	width: 100%;
	height: 100%;
	background-color: rgb(14, 255, 195);
}

/* #####################################################
				END PLACES & POST HOME
##################################################### */

/* #####################################################
					PLACES & POSTS LIST	
##################################################### */

.bodyList{
	padding-bottom: 10px;
}
#tableList{	
	border-collapse: collapse;
	background-color: #a8a8a8;
	width: 100%;
	border: 2px solid black;
}
#tr1List {
	background-color: #33FFA4;
}
#tr1List th{
	padding-top: 10px;
	padding-bottom: 10px;
}
#tr2List {
	height: 35px;
	background-color: #a8a8a8;
	color: #2b303b;
}
#tr2List:nth-child(even) {
	background-color: #2b303b;
	color: #a8a8a8;
}
#tr2List:hover {
	background-color: rgb(218, 218, 218);
	color: #2b303b;
}

/* #####################################################
				END	PLACES & POST LIST	
##################################################### */

/* #####################################################
				ICONOS PLACES & POST LISTS	
##################################################### */
.icono {
	font-size: 2em;
	cursor: pointer;
	padding: 5px;
	border-radius:25px;
	background-color: #6f6f6f69;
}
.iconofavourite {
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.icono3 {
	font-size: 1.3em;
	cursor: pointer;
}

/* #####################################################
				END ICONOS PLACES & POST LISTS	
##################################################### */

/* #####################################################
						FOOTER
##################################################### */

.footer{
	font-family: 'Play', sans-serif;
	text-align:center;
}
	
.footer .row{
	width:100%;
	margin:1% 0%;
	padding:0.2% 0%;
    color: #2b303b;
	font-size:0.8em;
}
	
.footer .row a{
	text-decoration:none;
    color: #2b303b;
	transition:0.5s;
}
	
.footer .row a:hover{
	color:#a8a8a8;
}
	
.footer .row ul{
	width:100%;
}
	
.footer .row ul li{
	display:inline-block;
	margin:0px 30px;
}
	
.footer .row a svg{
	font-size:2em;
	margin:0% 1%;
}
	
/* #####################################################
					END FOOTER
##################################################### */

/* #####################################################
					PLACES & POST ADD
##################################################### */

.container_add{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container_add:after{
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	
}
.add-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	border-radius: 25px;

}

.left_add{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 25px 0 0 25px;
}

.right_add{
	padding: 25px 40px;
}

.h2_add{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.h2_add:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field_add{
	width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.9rem 1rem;
    font-size: 1.1rem;
    transition: .3s;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
	color: gray;
}

.field_add:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.btn_add{
	width: 100%;
    padding: 1rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
	font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}

.btn_add:hover{
    background-color: #27ae60;
}

.field_add:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
  }
  
  .btn {
	border: 2px solid gray;
    color: gray;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 13px 119px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
	margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
  }
/* #####################################################
				END PLACES & POST ADD
##################################################### */
